.todo {
    background-color: rgba(255, 0, 0, 0.4);
}

.next {
    border-radius: 5px;
    background-color: rgba(255, 120, 0, 0.4);
}

.doing {
    border-radius: 5px;
    background-color: rgba(255, 204, 0, 0.4);
}

.done {
    border-radius: 5px;
    background-color: rgba(120, 255, 0, 0.4);
}

.status-title {
    border-radius: 20px;
    padding: 5px;
    align-self: center;
}

.task-column-box {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.task-column {
    display: flex;
    flex-direction: column;
}

.task-box {
    padding: 1vw;
    margin:10px 0;
    border-radius: 5px;
    background-color: #333;
}

.task-box:hover {
    background-color: #444;
}

.priority {
    border-radius: 5px;
}

.title {
    padding: 20px
}