<div *ngIf="task">
    <div>
        Task:
        <input [(ngModel)]="task.info" placeholder="Task" />
    </div>
    <div>
        Due Date:
        <input type="datetime-local" [(ngModel)]="task.dueDate" placeholder="Due Date"  />
    </div>
    <div>
        Status:
        <select [(ngModel)]="task.status" placeholder="Status">
            <option value="To Do" selected>To Do</option>
            <option value="Next">Next</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
        </select>
    </div>
    <div>
        Priority:
        <select [(ngModel)]="task.priority" placeholder="Priority">
            <option value="High">High</option>
            <option value="Medium" selected>Medium</option>
            <option value="Low">Low</option>
        </select>
    </div>
    <button (click)="updateTask(task)" *ngIf="task.id" type="button">Save</button>
    <button (click)="deleteTask(task)" *ngIf="task.id" type="button">Delete</button>
    <button (click)="createTask(task)" *ngIf="!task.id" type="button">Create</button>
</div>
