<div *ngIf="task">
    <h2>{{ task.info }}</h2>
    <div>
        Task:
        <input [(ngModel)]="task.info" placeholder="Task" />
    </div>

    <h2 *ngIf="task.dueDate">{{ formatDate(task.dueDate, "medium", 'en-US') }}</h2>
    <div>
        Due Date:
        <input type="datetime-local" [(ngModel)]="task.dueDate" placeholder="Due Date"  />
    </div>

    <h2>{{ task.status }}</h2>
    <div>
        Status:
        <input [(ngModel)]="task.status" placeholder="Status" />
    </div>

    <h2>{{ task.priority }}</h2>
    <div>
        Priority:
        <input [(ngModel)]="task.priority" placeholder="Priority" />
    </div>
    <button (click)="updateTask(task)" *ngIf="task.id" type="button">Save</button>
    <button (click)="deleteTask(task)" *ngIf="task.id" type="button">Delete</button>
    <button (click)="createTask(task)" *ngIf="!task.id" type="button">Create</button>
</div>
