/* You can add global styles to this file, and also import other style files */
* {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 100vw;
}

.task-column-box {
    display: flex;
    flex-direction: column;
}

.task-column {
    display: flex;
    flex-direction: column;
}

.task-box {
    padding:10px;
    margin:10px 0;
    border-radius: 10px;
    background-color: #333;
}

.task-box:hover {
    background-color: #444;
}

.priority {
    border-radius: 5px;
}

.title {
    padding: 20px
}

.status-title {
    border-radius: 5px;
    padding: 5px;
    align-self: center;
}

.todo {
    background-color: rgba(255, 0, 0, 0.4);
}

.next {
    border-radius: 5px;
    background-color: rgba(255, 120, 0, 0.4);
}

.doing {
    border-radius: 5px;
    background-color: rgba(255, 204, 0, 0.4);
}

.done {
    border-radius: 5px;
    background-color: rgba(120, 255, 0, 0.4);
}