/* You can add global styles to this file, and also import other style files */
* {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    
}

body {
    font-size: 10px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.title {
    padding: 2vw 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}
