<button (click)="initNewTask()">Create New Task</button>

<table>
  <thead>
    <th>Task</th>
    <th>Date</th>
    <th>Completed</th>
    <th>Priority</th>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.info }}</td>
      <td>{{ pipe.transform(task.dueDate, "short") }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.priority }}</td>
      <td><button (click)="editTask(task)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-task [task]="taskToEdit"></app-edit-task>