<div class="title">
  <h1>✅To Do App</h1>
</div>



<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList="Todo"
      id="ToDo"
      [cdkDropListData]="tasks.Todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" [cdkDragData]="'ToDo'" *ngFor="let task of tasks.Todo" cdkDrag> {{ task.info }} </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      id="Done"
      [cdkDropListData]="tasks.Done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" [cdkDragData]="'Done'" *ngFor="let item of tasks.Done" cdkDrag>{{item.info}} </div>
    </div>
  </div>
</div>