p {
    margin: 0.2rem 0;
}

.priority {
    padding: 0.2rem 0.3rem;
    border-radius: 1rem;
    font-size: 0.8rem;
}

.info {
    font-size: 1rem;
    font-weight: bold;
}

.date {
    font-size: 0.9rem;
}